engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
package-import-method=clone-or-copy

# Enforce pnpm
use-node-version=22.9.0
node-version=22.9.0
engine-strict=true
only-allow=pnpm
