@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141217;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141217;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}

/* Background Image Covering Half the Screen */
body::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Cover half of the height */
  background-image: url('https://flashduels.s3.ap-southeast-1.amazonaws.com/icons/grid.svg');
  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center;
  background-repeat: no-repeat;
  opacity: 10; /* Optional: Adjust opacity if needed */
  z-index: -1; /* Keep it behind the content */
}

/* In your CSS or a global CSS file */
.spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ExportWalletButton.module.css */
.button {
  display: flex;
  height: 65px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: var(--4px, 4px);
  border: 2px solid var(--text-pink, #F19ED2);
  background: var(--input-bg, rgba(255, 255, 255, 0.02));
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.05) inset;
  color: var(--text-pink, #F19ED2); /* Adjust text color if needed */
}

.icon {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
